USE [master]
GO
/****** Object:  Database [Sreemobile]    Script Date: 29-01-2026 16:59:08 ******/
CREATE DATABASE [Sreemobile]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sreemobile', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sreemobile.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sreemobile_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sreemobile_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sreemobile].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sreemobile]
GO
/****** Object:  Table [dbo].[Vendor_Master_Table]    Script Date: 29-01-2026 16:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor_Master_Table](
	[VendorId] [varchar](20) NOT NULL,
	[VendorName] [varchar](100) NOT NULL,
	[VendorAddress] [varchar](250) NULL,
	[GSTNo] [varchar](20) NULL,
	[EmailId] [varchar](100) NULL,
	[MobileNo] [varchar](15) NULL,
	[BankName] [varchar](100) NULL,
	[Branch] [varchar](100) NULL,
	[AccountNo] [varchar](30) NULL,
	[AccountName] [varchar](100) NULL,
	[AccountType] [varchar](30) NULL,
	[IFSCCode] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Vendor_Master_Table] ([VendorId], [VendorName], [VendorAddress], [GSTNo], [EmailId], [MobileNo], [BankName], [Branch], [AccountNo], [AccountName], [AccountType], [IFSCCode], [CreatedDate]) VALUES (N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', CAST(N'2026-01-29T16:43:36.997' AS DateTime))
GO
ALTER TABLE [dbo].[Vendor_Master_Table] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVendors]    Script Date: 29-01-2026 16:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetVendors]
AS
BEGIN
    SELECT
        VendorId,
        VendorName,
        MobileNo,
        GSTNo,
        BankName
    FROM Vendor_Master_Table
    ORDER BY CreatedDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertVendor]    Script Date: 29-01-2026 16:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertVendor]
(
    @VendorId VARCHAR(20),
    @VendorName VARCHAR(100),
    @VendorAddress VARCHAR(250) = NULL,
    @GSTNo VARCHAR(20) = NULL,
    @EmailId VARCHAR(100) = NULL,
    @MobileNo VARCHAR(15) = NULL,
    @BankName VARCHAR(100) = NULL,
    @Branch VARCHAR(100) = NULL,
    @AccountNo VARCHAR(30) = NULL,
    @AccountName VARCHAR(100) = NULL,
    @AccountType VARCHAR(30) = NULL,
    @IFSCCode VARCHAR(20) = NULL
)
AS
BEGIN
    INSERT INTO Vendor_Master_Table
    (
        VendorId,
        VendorName,
        VendorAddress,
        GSTNo,
        EmailId,
        MobileNo,
        BankName,
        Branch,
        AccountNo,
        AccountName,
        AccountType,
        IFSCCode
    )
    VALUES
    (
        @VendorId,
        @VendorName,
        @VendorAddress,
        @GSTNo,
        @EmailId,
        @MobileNo,
        @BankName,
        @Branch,
        @AccountNo,
        @AccountName,
        @AccountType,
        @IFSCCode
    );
END
GO
USE [master]
GO
